{% extends "index/base.html" %}
{% block content %}

<div class="loginback">
        <div style="margin-top:100px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="logindiv">
                <div class="col-12 col-md-6">
                    <span class="login100-form-title">
                    <img src="../image/logo.png" class="mx-auto d-block" style="display:block; max-width:auto; height:auto;" alt="IMG">
    
                    </span>
                </div>
    
                <div class="panel-body">
                    <span class="login100-form-title">
                        Member Login
                    </span>
    
                    <div style="margin-bottom: 20px" class="wrap-input100 validate-input">
                        <span class="focus-input100"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUsername" type="text" class="input100" name="username" value=""
                               placeholder="Username">
                    </div>
    
                    <div style="margin-bottom: 25px" class="wrap-input100 validate-input">
                        <span class="focus-input100"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="txtPassword" type="password" class="input100" placeholder="Password">
                    </div>
    
                    <div style="margin-top:10px" class="container-login100-form-btn">
                        <button id="btnLogin" class="login100-form-btn">Login</button>
                    </div>
    
                </div>
            </div>
        </div>
    
    </div>
    
    <div id="err"></div>
    {% endblock content %}
    