{% extends "employee/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}

<button type="submit" class="btn btn-success btn-lg"> <i class="fa-solid fa-floppy-disk"></i> Add </button>
<button type="button" class="btn btn-warning btn-lg"> <i class="fa-solid fa-marker"></i> Update </button>
<button type="reset" class="btn btn-danger btn-lg"> <i class="fa-solid fa-trash-can"></i> Delete </button>
<button type="button" class="btn btn-primary btn-lg"> <i class="fa-solid fa-broom"></i> Clear </button>
<a class="btn btn-secondary btn-lg" href="list/" role="button"> <i class="fa-solid fa-magnifying-glass"></i> Search </a>

</form>
{% endblock content %}
