{% extends "employee/base.html" %}

{% block content %}
<form class="form-horizontal" id="employeeform">
    <div class="form-group row">
        <label for="employeeNumber" class="col-sm-2 col-form-label" style="font-weight: 500;"> Employee Number </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="employeeNumber" placeholder="EMP/0001">
            </div>
    </div>

    <div class="form-group row">
        <label for="fullName" class="col-sm-2 col-form-label" style="font-weight: 500;"> Full Name </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="fullName" placeholder="Enter Employee Full Name">
            </div>
    </div>

    <div class="form-group row">
        <label for="callingName" class="col-sm-2 col-form-label" style="font-weight: 500;"> Calling Name </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="callingName" placeholder="Enter Employee Calling Name">
            </div>
    </div>

    <div class="form-group row">
        <label for="photo" class="col-sm-2 col-form-label" style="font-weight: 500;"> Photo </label> 
            <div class="col-sm-5">
                <input type="file" class="form-control-file" id="photo">
            </div>
    </div>

    <div class="form-group row">
        <label for="birthDate" class="col-sm-2 col-form-label" style="font-weight: 500;"> Birth Date </label> 
            <div class="col-sm-5">
                <input type="date" class="form-control-date" id="birthDate">
            </div>
    </div>

    <div class="form-group row">
        <label for="employeeFullName" class="col-sm-2 col-form-label" style="font-weight: 500;"> Full Name </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="employeeFullName" placeholder="Enter Employee Full Name">
            </div>
    </div>

    <div class="form-group row">
        <label for="NIC" class="col-sm-2 col-form-label" style="font-weight: 500;"> NIC </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="NIC" placeholder="xxxxxxxxxV">
            </div>
    </div>

    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label" style="font-weight: 500;"> Address </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="address" placeholder="Enter Employee Address">
            </div>
    </div>

    <div class="form-group row">
        <label for="mobileNo" class="col-sm-2 col-form-label" style="font-weight: 500;"> Mobile No </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="mobileNo" placeholder="07x-xxxxxxx">
            </div>
    </div>

    <div class="form-group row">
        <label for="landlineNo" class="col-sm-2 col-form-label" style="font-weight: 500;"> landline No </label> 
            <div class="col-sm-5">
                <input type="text" class="form-control" id="landlineNo" placeholder="0xx-xxxxxxx">
            </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label" style="font-weight: 500;"> email </label> 
            <div class="col-sm-5">
                <input type="email" class="form-control" id="email" placeholder="someone@domain.com">
            </div>
    </div>

    <div class="form-group row">
        <label for="registerDate" class="col-sm-2 col-form-label" style="font-weight: 500;"> register Date </label> 
            <div class="col-sm-5">
                <input type="date" class="form-control" id="registerDate">
            </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2 mb-1.5">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownGender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Gender
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownGender">
                <!-- Dropdown menu -->
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-1">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDesignation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Designation
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownDesignation">
                    <!-- Dropdown menu -->
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-1">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCivilStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Civil Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownCivilStatus">
                    <!-- Dropdown menu -->
                </div>
            </div>
        </div>
        <div class="col-md-1 mb-1">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownEmployeeStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Employee Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownEmployeeStatus">
                    <!-- Dropdown menu -->
                </div>
            </div>   
        </div>
    </div>

    <div class="form-group row">
        <label for="Notes" class="col-sm-2 col-form-label" style="font-weight: 500;"> Notes </label> 
            <div class="col-sm-5">
                <input type="text-area" class="form-control" id="Notes">
            </div>
    </div>



<p class="lead">
  <a class="btn btn-success btn-lg" href="#" role="button">Add</a>
  <a class="btn btn-warning btn-lg" href="#" role="button">Update</a>
  <a class="btn btn-danger btn-lg" href="#" role="button">Delete</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Clear</a>
  <a class="btn btn-secondary btn-lg" href="list/" role="button">Search</a>
</p>
</form>
{% endblock content %}
