{% extends "user/base.html" %}

{% block content %}

<table class="table table borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td> Display Name</td>
            <td> User Name</td>
            <td> Email </td>
            <td> User Role </td>
            <td> User Status </td>
            <td>
                <a href="{% url 'user_insert' %}" class="btn btn-success">
                    <i class="fas fa-plus"> User </i>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
        <tr>
            <td> {{user.displayname}} </td>
            <td> {{user.username}} </td>
            <td> {{user.email}} </td>
            <td> {{user.role}} </td>
            <td> {{user.status}} </td>
            <td>
                <a href="{% url 'user_update' user.id %}" class="btn btn-warning">
                    <i class="fa-solid fa-marker"> </i>
                </a>
                <form action="{% url 'user_delete' user.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-lg">
                        <i class="far fa-trash-alt float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
