{% extends "index/base.html" %}

{% block content %}
<div class="page-container homeback" style="background-image: url('../image/bgimg4.jpg');" id="MainBox">
	<!-- MAIN CONTENT-->
	<div class="main-content" >
		<div class="section__content section__content--p30 dashboardpnl" style="background-image: url('../image/bgimg6.jpg');">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="overview-wrap">
							<h2 class="title-1" style="color: white"> Stay with Us </h2>
						</div>
					</div>
				</div>
				<div class="row m-t-25">
					<div class="col-sm-6 col-lg-3">
						<div class="overview-item overview-item--c4">
							<div class="overview__inner">
								<div class="overview-box clearfix">
									<div class="icon">
										<i class="zmdi zmdi-calendar-note"></i>
									</div>
									<div class="text">
										<h3 style="color:white">
											<script> document.write(new Date().toLocaleDateString()); </script>
										</h3>
										<span style="color:white;">Today Date</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3">
						<a href="https://www.rda.gov.lk/">
							<div class="overview-item overview-item--c1">
								<div class="overview__inner">
									<div class="overview-box clearfix">
										<div class="icon">
											<i class="zmdi zmdi-globe"></i>
										</div>
										<div class="text">
											<h3 style="color: white">  www.rda.gov.lk  </h3>
											<span style="color: white"> Official Web Site  </span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-sm-6 col-lg-3">
						<a href="https://www.facebook.com/profile.php?id=100064662220259">
							<div class="overview-item overview-item--c2">
								<div class="overview__inner">
									<div class="overview-box clearfix">
										<div class="icon">
											<i class="zmdi zmdi-facebook-box"></i>
										</div>
										<div class="text">
											<h3 style="color: white"> @RDA  </h3>
											<span style="color: white"> Official Facebook Page </span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-sm-6 col-lg-3">
						<div class="overview-item overview-item--c3">
							<div class="overview__inner">
								<div class="overview-box clearfix">
									<div class="icon">
										<i class="zmdi zmdi-phone-in-talk"></i>
									</div>
									<div class="text">
										<h3 style="color: white"> 1968 </h3>
										<span style="color: white"> Information Center </span>
									</div>
								</div>
							</div>
						</div>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="overview-wrap">
							<h2 class="title-1" style="color: white"> Downloads </h2>
						</div>
					</div>
				</div>
				<div class="row m-t-20">
					<div class="notifi__item">
						<div class="bg-c1 img-cir img-40">
							<i class="zmdi zmdi-file-text"></i>
						</div>
						<div class="content">
							<a href="https://www.rda.gov.lk/supported/aboutrda/act73.pdf" style="font-size:1vw; color: white"> Road Development Authority Act No. 73 of 1981 </a> </br>
							<p style="color: white">
								<script> document.write(new Date().toLocaleDateString()); </script>
							</p>
						</div>
					</div>
				</div>

				<div class="row m-t-20">
					<div class="notifi__item">
						<div class="bg-c1 img-cir img-40">
							<i class="zmdi zmdi-file-text"></i>
						</div>
						<div class="content">
							<a href="https://www.rda.gov.lk/supported/aboutrda/act5.pdf" style="font-size:1vw; color: white"> Road Development Authority (Special Provisions) Act No. 5 of 1988 </a> </br>
							<p style="color: white">
								<script> document.write(new Date().toLocaleDateString()); </script>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							<p style="font-size:1vw; color: white"><a href='contactus.html'style="font-size:large; font: bold;"> Contact Us </a> for more Details / Feedback <br/> Copyright © 2021 All rights reserved. Designed by DINESHA BANDARA </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MAIN CONTENT-->
	<!-- END PAGE CONTAINER-->
</div>
{% endblock content %}