{% extends "index/base.html" %}

{% block content %}
<form class="container">
        <span class="login100-form-title">
            {% load static %}
            <img src="{% static 'index/navlogo.png' %}" class="mx-auto d-block rounded" alt="logo" height="50%" width="50%">
            <h1 class="h1 mb-3 fw-normal text-center"> Log In </h1>
        </span>       
    <div>
        <label for="floatingInput"> Email address </label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div> <br/>

    <div>
        <label for="floatingPassword"> Password </label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    </div>
    
    <div class="checkbox mb-4">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div>
        
    <button class="col-md-12 btn btn-primary btn-block btn-lg" type="submit"> Log in </button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; Dinesha Bandara - 2022 </p>
</form>
{% endblock content %}